@model TangerineCRM.WebUI.Models.ProductViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/login")
@Styles.Render("~/Content/dropdown")

<h2>Create</h2>
<body>
    <div class="wrapper fadeInDown" style="align-items: flex-start">
        <div id="formContent">
            @using (Html.BeginForm("Add", "Product", FormMethod.Post))
            {
                @Html.TextBoxFor(x => x.SingleProduct.ProductName, new { @class = "fadeIn second", @name = "Nazwa", @placeholder = "Nazwa" });
                //@Html.ValidationMessageFor();
                @Html.TextBoxFor(x => x.SingleProduct.Price, new { @class = "fadeIn second", @name = "Cena", @placeholder = "Cena" });
                //@Html.ValidationMessageFor();
                <br />
                <div class="field fadeIn second">
                    <label> Sklep </label>
                    <br />
                    @Html.DropDownListFor(x => x.SelectedStoreID, Model.SelectList)
                </div>
                
                <input type="submit" class="fadeIn fourth" value="Dodaj">
            }
            <!-- Remind Passowrd -->
        </div>
    </div>
</body>
