@model TangerineCRM.WebUI.Models.ProductViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/table")

<h2>Index</h2>
<body>
    <div class="row" style="width:100%">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nazwa produktu</th>
                    <th>Cena</th>
                    <th>ID Sklepu</th>
                </tr>
            </thead>
            @foreach(var product in Model.ProductList)
            {
            <tr>
                <td>
                    @product.ProductId
                </td>
                <td>
                    @product.ProductName
                </td>
                <td>
                    @product.Price
                </td>
                <td>
                    @product.Store.StoreId
                </td>
                <td>

                </td>
            </tr>
            }
        </table>
    </div>
</body>