@model TangerineCRM.WebUI.Models.ProductViewModel
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/login")
@Styles.Render("~/Content/dropdown")
<h2>Edytuj</h2>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Login Form -->
            @using (Html.BeginForm("Update", "Product", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.SingleProduct.ProductId)
                @Html.EditorFor(x => x.SingleProduct.ProductName, new { @class = "fadeIn second", @name = "Nazwa", @placeholder = "Nazwa" });
                @Html.ValidationMessageFor(x => x.SingleProduct.ProductName);
                @Html.EditorFor(x => x.SingleProduct.Price, new { @class = "fadeIn second", @name = "Cena", @placeholder = "Cena" });
                @Html.ValidationMessageFor(x => x.SingleProduct.Price);
                <br />
                <div class="field fadeIn second">
                    <label> Sklep </label>
                    <br />
                    @Html.DropDownListFor(x => x.SelectedStoreID, Model.SelectList)
                    @Html.ValidationMessageFor(x => x.SelectedStoreID)
                </div>
                <input type="submit" class="fadeIn fourth" value="Zmień">
            }
            <!-- Remind Passowrd -->
        </div>
    </div>
</body>

