@using TangerineCRM.Core.Helpers.Enums
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="d-flex" id="wrapper">
        <div class="bg-light border-right" id="sidebar-wrapper">
            @Html.ActionLink("Strona główna", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "list-group-item list-group-item-action bg-light" })
            <div class="list-group list-group-flush">
                @Html.ActionLink("Spotkania", "Index", "Appointment", routeValues: null, htmlAttributes: new { @class = "list-group-item list-group-item-action bg-light" })
                @Html.ActionLink("Umowy", "Index", "Agreement", routeValues: null, htmlAttributes: new { @class = "list-group-item list-group-item-action bg-light" })
                @Html.ActionLink("Produkty", "Index", "Product", routeValues: null, htmlAttributes: new { @class = "list-group-item list-group-item-action bg-light" })
                @Html.ActionLink("Klienci", "Index", "Contractor", routeValues: null, htmlAttributes: new { @class = "list-group-item list-group-item-action bg-light" })
                @Html.ActionLink("Sklepy", "Index", "Store", routeValues: null, htmlAttributes: new { @class = "list-group-item list-group-item-action bg-light" })
                @Html.ActionLink("Przedstawiciele", "Index", "SalesRepresentative", routeValues: null, htmlAttributes: new { @class = "list-group-item list-group-item-action bg-light" })
                @if (Session["userType"] != null)
                {
                    if (Session["userType"].ToString().Equals("ADMIN"))
                    {
                        @Html.ActionLink("Użytkownicy", "Index", "User", routeValues: null, htmlAttributes: new { @class = "list-group-item list-group-item-action bg-light" })
                    }
                }
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            Zalogowany jako: @Session["userName"]
            <hr />
            <div class="container-fluid">
                <p>@RenderBody()</p>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
</body>
</html>
