@model TangerineCRM.WebUI.Models.ContractorViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/login")
@Styles.Render("~/Content/dropdown")

<h2>Dodaj</h2>
<body>
    <div class="wrapper fadeInDown" style="align-items: flex-start">
        <div id="formContent">
            @using (Html.BeginForm("Add", "Contractor", FormMethod.Post))
            {
                @Html.TextBoxFor(x => x.SingleContractor.FirstName, new { @class = "fadeIn second", @name = "Imię", @placeholder = "Imię" });
                @Html.ValidationMessageFor(x => x.SingleContractor.FirstName);
                @Html.TextBoxFor(x => x.SingleContractor.LastName, new { @class = "fadeIn second", @name = "Nazwisko", @placeholder = "Nazwisko" });
                @Html.ValidationMessageFor(x => x.SingleContractor.LastName);
                @Html.TextBoxFor(x => x.SingleContractor.Discount,  new { @class = "fadeIn second", @name = "Rabat %", @placeholder = "Rabat %" } )
                <br />
                <div class="field fadeIn second">
                    <label> Zakontraktowany? </label>
                    <br />
                    @Html.DropDownListFor(x => x.SelectedIsContractedValue, Model.IsContractedList)
                </div>

                <input type="submit" class="fadeIn fourth" value="Dodaj">
            }
            <!-- Remind Passowrd -->
        </div>
    </div>
</body>