@model TangerineCRM.WebUI.Models.SalesRepresentativeViewModel
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/login")
@Styles.Render("~/Content/dropdown")

<h2>Edytuj</h2>
<body>
    <div class="wrapper fadeInDown" style="align-items: flex-start">
        <div id="formContent">
            @using (Html.BeginForm("Update", "SalesRepresentative", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.SingleRepresentative.SalesRepresentativeId)
                @Html.EditorFor(x => x.SingleRepresentative.FirstName, new { @class = "fadeIn second", @name = "Imię", @placeholder = "Imię" });
                //@Html.ValidationMessageFor();
                @Html.EditorFor(x => x.SingleRepresentative.LastName, new { @class = "fadeIn second", @name = "Nazwisko", @placeholder = "Nazwisko" });
                //@Html.ValidationMessageFor();
                <input type="submit" class="fadeIn fourth" value="Zmień">
            }
            <!-- Remind Passowrd -->
        </div>
    </div>
</body>