@model TangerineCRM.WebUI.Models.UserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/login")
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="~/Resources/logo.png" id="icon" alt="User Icon" />
            </div>
            <!-- Login Form -->
            @using (Html.BeginForm("Authorization", "Login", FormMethod.Post))
            {
                @Html.TextBoxFor(x => x.SingleUser.UserName, new { @class = "fadeIn second", @name = "login", @placeholder = "login" });
                <br />
                @Html.ValidationMessageFor(x => x.SingleUser.UserName);
                @Html.PasswordFor(x => x.SingleUser.Password, new { @class = "fadeIn third", @name = "password", @placeholder = "password" });
                <br />
                @Html.ValidationMessageFor(x => x.SingleUser.Password);
                <label class="field-validation-error">@Html.DisplayFor(x => x.ErrorMessage)</label>
                <br />
                <input type="submit" class="fadeIn fourth" value="Zaloguj">
            }
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
