@model TangerineCRM.WebUI.Models.AppointmentViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Login")
@Styles.Render("~/Content/dropdown")
<h2>Dodaj</h2>
<body>
    <div class="wrapper fadeInDown" style="align-items: flex-start">
        <div id="formContent">
            <!-- Login Form -->
            @using (Html.BeginForm("Add", "Appointment", FormMethod.Post))
            {
                <div class="field">
                    <label>Klient</label>
                    <br />
                    @Html.DropDownListFor(x => x.SelectedContractorID, Model.SelectListContractor)
                    @Html.ValidationMessageFor(x => x.SelectedContractorID)
                </div>

                <div class="field">
                    <label>Przedstawiciel handlowy</label>
                    <br />
                    @Html.DropDownListFor(x => x.SelectedSalesRep, Model.SelectListSalesRep)
                    @Html.ValidationMessageFor(x => x.SelectedSalesRep)
                    <br />
                </div>

                <div class="field">
                    <label>Typ spotkania</label>
                    <br />
                    @Html.DropDownListFor(x => x.SelectedType, Model.SelectListType)
                    <br />
                </div>

                <div class="field">
                    <label>Rezultat</label>
                    <br />
                    @Html.DropDownListFor(x => x.SelectedResult, Model.SelectListResult)
                    <br />
                </div>

                <div class="field">
                    <label>Data spotkania</label>
                    <br />
                    @Html.TextBoxFor(x => x.SingleAppointment.Date, new { @class = "datepicker picker", @type = "date" })
                    @Html.ValidationMessageFor(x => x.SingleAppointment.Date)
                    <br />
                </div>

                <input type="submit" class="fadeIn fourth" value="Dodaj">
            }
        </div>
    </div>
</body>
