@model TangerineCRM.WebUI.Models.AppointmentViewModel
@using TangerineCRM.Core.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/table")
<h2>Index</h2>
<table class="table">
    <tr>
        <th>
          Nr klienta
        </th>
        <th>
          Nr przedstawiciela 
        </th>
        <th>
            Data
        </th>
        <th>
            Typ
        </th>
        <th>
            Rezultat
        </th>
        <th>
            <a href="@Url.Action("Create", "Appointment")">Dodaj</a>
        </th>
    </tr>

@foreach (var item in Model.AppointmentList) {
    <tr>
        <td>
            @item.SalesRepresentativeID
        </td>
        <td>
            @item.ContractorID
        </td>
        <td>
            @item.Date.ToString("dd-MM-yyy")
        </td>
        <td>
            @item.Type.GetStringValue()
        </td>
        <td>
            @item.Result.GetResultStringValue()
        </td>
        <td>
            <a href="@Url.Action("Update", "Appointment", new {id = item.AppointmentId})" class="icon-update" />
            <a href="@Url.Action("Delete", "Appointment", new {id = item.AppointmentId})" class="icon-delete" />
        </td>
    </tr>
}

</table>
