@model TangerineCRM.WebUI.Models.AppointmentViewModel
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Login")
@Styles.Render("~/Content/dropdown")
<h2>Edytuj</h2>
<body>
    <div class="wrapper fadeInDown" style="align-items: flex-start">
        <div id="formContent">
            <!-- Login Form -->
            @using (Html.BeginForm("Update", "Appointment", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.SingleAppointment.AppointmentId)
                <div class="field">
                    <label>Klient</label>
                    <br />
                    @Html.DropDownListFor(x => x.SelectedContractorID, Model.SelectListContractor)
                </div>

                <div class="field">
                    <label>Przedstawiciel handlowy</label>
                    <br />
                    @Html.DropDownListFor(x => x.SelectedSalesRep, Model.SelectListSalesRep)
                    <br />
                </div>

                <div class="field">
                    <label>Data</label>
                    <br />
                    @Html.TextBoxFor(x => x.SingleAppointment.Date, new { @class = "datepicker picker", @type = "date"})
                    <br />
                </div>

                <div class="field">
                    <label>Typ spotkania</label>
                    <br />
                    @Html.DropDownListFor(x => x.SelectedType, Model.SelectListType)
                    <br />
                </div>

                <div class="field">
                    <label>Rezultat</label>
                    <br />
                    @Html.DropDownListFor(x => x.SelectedResult, Model.SelectListResult)
                    <br />
                </div>

                <input type="submit" class="fadeIn fourth" value="Zmień">
            }
        </div>
    </div>
</body>
