@model TangerineCRM.WebUI.Models.AppointmentViewModel
@using TangerineCRM.Core.Helpers.Enums;
@{
    ViewBag.Title = "UpdateResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Login")
@Styles.Render("~/Content/dropdown")
@Styles.Render("~/Content/table")
<h2>Ustaw rezultat</h2>
<body>
    <div class="wrapper fadeInDown" style="align-items: flex-start">
        <div id="formContent">
            <!-- Login Form -->
            @using (Html.BeginForm("UpdateResult", "Appointment", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.SingleAppointment.AppointmentId)

                <div class="field">
                    <label>Rezultat</label>
                    <br />
                    @Html.DropDownListFor(x => x.SelectedResult, Model.SelectListResult)
                    <br />
                </div>
                <input type="submit" id="btn" data-toggle="modal" data-target="#Confirmation" class="fadeIn fourth" value="Zmień" onclick="">
            }
        </div>
    </div>
</body>
<div class="modal fade" id="Confirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <a href="@Url.Action("Update", "Appointment", new {id = Model.SingleAppointment.AppointmentId})" class="icon-update" />

        </div>
    </div>
</div>

