@model TangerineCRM.WebUI.Models.AgreementViewModel
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Login")
@Styles.Render("~/Content/dropdown")
<h2>Edytuj</h2>
<body>
    <div class="wrapper fadeInDown" style="align-items: flex-start">
        <div id="formContent">
            <!-- Login Form -->
            @using (Html.BeginForm("Update", "Agreement", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.SingleAgreement.AgreementId)
                <div class="field">
                    <label>Klient</label>
                    <br />
                    @Html.DropDownListFor(x => x.SelectedContractor, Model.SelectListContractor)
                    <br />
                    @Html.ValidationMessageFor(x => x.SelectedContractor)
                </div>

                <div class="field">
                    <label>Przedstawiciel handlowy</label>
                    <br />
                    @Html.DropDownListFor(x => x.SelectedSalesRep, Model.SelectListSalesRep)
                    <br />
                    @Html.ValidationMessageFor(x => x.SelectedSalesRep)
                    <br />
                </div>

                <div class="field">
                    <label>Typ umowy</label>
                    <br />
                    @Html.DropDownListFor(x => x.SelectedType, Model.SelectListType)
                    <br />
                </div>

                <div class="field">
                    <label>Data</label>
                    <br />
                    @Html.TextBoxFor(x => x.SingleAgreement.Date, new { @class = "datepicker picker", @type = "date", @Value = Model.SingleAgreement.Date.ToString("yyyy-MM-dd") })
                    <br />
                    @Html.ValidationMessageFor(x => x.SingleAgreement.Date)
                    <br />
                </div>

                @Html.TextBoxFor(x => x.SingleAgreement.Value, new { @class = "fadeIn second", @name = "Wartość umowy", @placeholder = "Wartość umowy" });

                @Html.ValidationMessageFor(x => x.SingleAgreement.Value)
                <input type="submit" class="fadeIn fourth" value="Zmień">
            }
        </div>
    </div>
</body>